* { 
	margin: 0; 
	padding: 0; 
} 

.navbar { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	position: sticky; 
	top: 0; 
	cursor: pointer; 
	
} 

 .background { 
	
	 background: linear-gradient(rgb(192, 213, 234),rgb(77, 69, 223)); 
	
	background-blend-mode: darken; 
	background-size: cover; 
}  

.footer { 
background-color: rgb(36, 36, 36); 
    height: 250px;
	 text-align: center;
} 

.nav-list { 
	width: 70%; 
	display: flex; 
	align-items: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
} 


.logo img { 
	width: 180px; 
	border-radius: 50px; 
} 

.nav-list li { 
	list-style: none; 
	padding: 26px 30px; 
} 

.nav-list li a { 
	text-decoration: none; 
	color:white;
	
} 

.nav-list li a:hover { 
	/* color:rgb(180, 174, 174); */
	color: rgb(34, 34, 106);
	 text-decoration:underline; 
} 
.nav-list li :hover{
	color: beige;
}



.rightnav { 
	width: 30%; 
	text-align: right; 
} 

.btn { 
margin-left: 20px; 
height: 33px; 
width: 90px; 
	color: blue; 
	font-weight: bold;


background-color: #fff;
	cursor: pointer; 
} 
.btn :hover{
	color: gray;
}
.btm{ 
margin-left: 20px; 
height: 33px; 
width: 90px; 
	
	color: blue;
	background: white;
	font-weight: bold;
	cursor: pointer; 
	
} 

.btn-sm { 
	padding: 6px 10px; 
	vertical-align: middle; 
} 


	
.text-footer { 
	text-align: center; 
	padding: 30px 0; 
	font-family: 'Ubuntu', sans-serif; 
	display: flex; 
	justify-content: center; 
	color: #fff; 
} 
.c{
	background-color:white;	height: 600px;
	width:700px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;

}

.mc{
	display: flex;
	flex-direction: row;
	gap: 40px; 
	flex-wrap: wrap;
	margin-top: 50px;
	margin-left:80px ;
	gap: 50PX;
	padding: 0 30px 60px;

}
.mc :hover{
	box-shadow: 0px 8px 16px 0px rgba(141, 141, 141, 0.9);
	transform: scale(1.045);
}
.nc{
	display: flex;
	flex-direction: row;
	gap: 50px; 
	flex-wrap: wrap;
	margin-top: 50px;
	margin-left: 80px;
	text-align: center;

	padding: 0 30px 60px;
	
	
}



.clogo{
	
	display: flex;
	flex-direction: column;
	background-color: #000;
	width: 400px;
	height: 500px;
	
	background: linear-gradient(rgb(192, 213, 234),rgb(15, 10, 149));
	
	border-top-right-radius:4%;
	border-top-left-radius: 4%;
	border-bottom-left-radius: 4%;
	border-bottom-right-radius: 4%;

	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
	/* pointer-events: none; */
}



.slogo{
	display: flex;
	flex-direction: row;
	background-color: #000;
	width: 400px;
	height: 500px;
	
}
.offer{
	margin-top: 100px;
	text-align: center;
	position: relative;
	
	
}

h1{
	color: white;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
	color:white;
	pointer-events: none;
}

.body{
	
	
	background: linear-gradient(rgb(192, 213, 234),rgb(15, 10, 149));
}
.aimg{
	margin-top: 100px;
	background-image: url("https://pic.onlinewebfonts.com/thumbnails/animations_546512.svg?width=6");
pointer-events: none;
	width: 100px;
	height: 100px;
	margin-left: 150px;
	margin-top: 90px;	
}
.bimg{
	margin-top: 100px;
	background-image: url("https://pic.onlinewebfonts.com/thumbnails/animations_508747.svg?width=6");
	width: 100px;
	height: 100px;
	margin-left: 150px;
	margin-top: 90px;	
	pointer-events: none;
}
.cimg{
	margin-top: 100px;
	background-image: url("https://pic.onlinewebfonts.com/thumbnails/icons_187930.svg?width=6");
	width: 100px;
	height: 100px;
	margin-left: 150px;
	margin-top: 90px;
	pointer-events: none;
}
h3{
	color: white;
	text-align: center;
	margin-top: 15px;
	pointer-events: none;
}
ul{
	margin-top: 15px;
	text-align: left;
	color: white;
    font-size:large;
	list-style:circle;
	margin-left: 70px;

}

li{
	list-style-position:inside;
}
button:hover{
color: white;


}
.dropcontent {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 200px;
	height: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
	border-radius: 8px;
	text-align: center;
	font-family:'Times New Roman', Times, serif;
  }
  .dropbtn {

	
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  .dropdown {
	position: relative;


  }
  .dropcontent a {
	color:blue;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  .dropcontent a:hover {
	background-color: #ddd;
	background-color: rgb(113, 113, 221);
	color: white;
}

.dropdown:hover .dropcontent {display: block;
	color: black;
}
.bt{
	height: 33px;
	width: 110px;
	background-color: #fff;
	color: red;
	font-weight: bold;
	font-family:'Times New Roman', Times, serif;
}
.bt :hover{
	color: white;
	background-color: red;

}
.ulh {
	pointer-events: none;

}

.row{
	margin-bottom: 10px;
	
	
}


